* {
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    outline: none;
}

.page-title-span{
    margin-left: 20px;
}
.page-icon-span{
    margin-left: 10px;
}

.sign-button{
    text-align: center;
    
    
}



/*Login Section*/

.login_cover{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}


dialog {
  position: absolute;
  left: 0; right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: none;
  padding: 1em;
  background: white;
  color: black;
  display: none;

}

dialog[open] {
  display: block;
}

dialog + .backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.1);
}

._dialog_overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

#loginLoad{
    display: none;
    width: 20px;
    
}

#loginError{
    display: none;   
}